.sidebar {
  width: 15rem;
  padding: 2rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .logo {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .navList {
    text-align: cen;
    list-style: none;
    padding: 0;
    margin-top: 2rem;

    .navItem {
      font-size: 1.2rem;
      padding: 1rem;
      cursor: pointer;
    }
  }

  .logoutButton {
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: auto;
    transition: 0.3s;
    box-sizing: border-box;
  }

  .logoutButton:hover {
    box-sizing: border-box;
    background: black;
    color: white;
  }
}

.active {
  background: #000;
  color: white;
  border-radius: 0.5rem;
}
