.reactionContainer {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.625rem;

  .reactionButton {
    background: none;
    border: 0.0625rem solid var(--primary-color);
    border-radius: 0.4rem;
    padding: 0.25rem;
    display: flex;
    gap: 0.25rem;
  }

  .emotionWrapper {
    display: flex;
    margin-left: auto;

  }

  .reportButton {
    background: none;
    border: 0;
    align-self: center;
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
  }
}