.container {
  display: flex;
  height: 100vh;
  .main {
    flex: 1;
    padding: 2rem;
    position: relative;
    overflow-y: auto;
    height: 100%;
    .contentsContainer {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .pagination {
        justify-content: center;
        display: flex;
        gap: 1rem;
        margin-top: 1rem;

        button {
          padding: 0.5rem;
          background: none;
          border: 1px solid #ccc;
          cursor: pointer;

          &.active {
            background: var(--primary-color);
            color: white;
          }

          &:disabled {
            cursor: not-allowed;
            background-color: #f0f0f0;
          }
        }

        span {
          margin: 0 0.5rem;
        }
      }
    }

    .addButton {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      background: var(--primary-color);
      color: #000;
      padding: 1rem;
      border-radius: 50%;
      border: none;
      cursor: pointer;
    }
  }
}
