.userContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2rem 1.25rem;

  .userWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 1.5625rem;
    background-color: white;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .userContainer::-webkit-scrollbar {
    display: none;
  }
}
