.spotsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 0.625rem;
  padding: 1.25rem;

  .noSpotText {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    font-size: 1.25rem;
  }
}
