.infoContainer {
  padding: 1.25rem;
  background-color: white;

  .srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
  }

  .info {
    padding: 1.25rem;
    background-color: rgba(253, 187, 9, 0.2);
    border-radius: 0.625rem;
    font-size: 0.75rem;
    color: black;
  }

  .infoList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .subText {
        font-size: 0.625rem;
        color: var(--grey-2-color);
      }


      .primaryBold {
        color: var(--primary-color);
        font-weight: bold;
      }
    }
  }
}