.tipBoxContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--disabled-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(253, 187, 9, 0.05); /* 마우스 올리면 배경색 변경 */
  }

  .srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
  }

  .tipBoxWrapper {
    display: flex;
    justify-content: space-between;

    .spotBox {
      display: flex;
      gap: 0.625rem;
      align-items: center;

      .imageBorder {
        border-radius: 50%;
        border: 2px solid var(--primary-color);
        width: 2.25rem;
        height: 2.25rem;
      }

      figcaption {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .category {
          font-size: 0.75rem;
        }

        .name {
          font-size: 1.1rem;
        }
      }
    }

    .buttonBox {
      display: flex;
      gap: 1rem;
      margin-right: 1rem;
      font-size: 0.75rem;

      .editButton {
        color: var(--grey-2-color);
        cursor: pointer;
      }
      .deleteButton {
        color: var(--red-1-color);
        cursor: pointer;
      }
    }
  }

  .infoWrapper {
    display: flex;
    flex-wrap: nowrap;
    color: var(--grey-2-color);

    p {
      margin: 0 0.2rem;
    }

    span {
      color: var(--primary-color);
      font-weight: bold;
      margin: 0 0.2rem;

      .minute {
        color: var(--grey-2-color);
        font-weight: normal;
      }
    }
  }

  .imageFullWrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;

    .image {
      width: 9.375rem;
      height: 9.375rem;
      border-radius: 1rem;
      object-fit: cover;
    }
  }
  .imageWrapper {
    display: flex;
    margin-bottom: 1rem;
    margin-left: 1.3rem;

    .image {
      width: 9.375rem;
      height: 9.375rem;
      border-radius: 1rem;
      object-fit: cover;
    }
  }

  .description {
    padding: 0 1rem;
  }

  .emotionWrapper {
    display: flex;

    .emotionBox {
      display: flex;
      gap: 0.5rem;
      padding: 0.25rem;
      align-items: center;

      p {
        font-size: 0.75rem;
      }
    }
  }
}
