.tipBoxContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--disabled-color);

  .srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
  }

  .tipBoxWrapper {
    display: flex;
    justify-content: space-between;

    .spotBox {
      display: flex;
      gap: 0.625rem;
      align-items: center;

      .imageBorder {
        border-radius: 50%;
        border: 2px solid var(--primary-color);
        width: 2.25rem;
        height: 2.25rem;
      }
      p {
        font-size: 1.1rem;
      }
    }

    .buttonBox {
      display: flex;
      gap: 2rem;
      margin-right: 1rem;
      font-size: 0.75rem;
      .editButton {
        color: var(--grey-2-color);
      }
      .deleteButton {
        color: var(--red-1-color);
      }
    }
  }

  .infoWrapper {
    display: flex;
    flex-wrap: nowrap;
    color: var(--grey-2-color);
    font-size: 0.75rem;

    p {
      margin: 0 0.2rem;
    }

    span {
      color: var(--primary-color);
      font-weight: bold;
      margin: 0 0.2rem;
    }
  }

  .emotionWrapper {
    display: flex;

    .emotionBox {
      display: flex;
      gap: 0.5rem;
      padding: 0.25rem;
      align-items: center;

      p {
        font-size: 0.75rem;
      }
    }
  }
}
