.container {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);

  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;

    .addressContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .convertButton {
        text-align: center;
        width: 10%;
        margin-bottom: 1rem;
        background: var(--primary-color);
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        cursor: pointer;
      }

      .inputField {
        width: 80%;
        margin-bottom: 1rem;
        padding: 0.8rem;
        border: 0.0625rem solid var(--grey-1-color);
        border-radius: 0.25rem;
        font-size: 1rem;
      }
    }

    .inputField {
      margin-bottom: 1rem;
      padding: 0.8rem;
      border: 0.0625rem solid var(--grey-1-color);
      border-radius: 0.25rem;
      font-size: 1rem;
    }

    .phoneInputContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .inputField {
        width: 30%;
      }
    }

    .textareaField {
      @extend .inputField;
      resize: none;
      height: 6.25rem;
    }

    .submitButton {
      background: var(--primary-color);
      font-size: 1rem;
      padding: 0.8rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    .imagePreviewContainer {
      margin-top: 0.625rem;
      text-align: center;
    }

    .imagePreview {
      width: 100%;
      max-width: 18.75rem;
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.2);
    }

    .ticketsContainer {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
      border: 0.0625rem solid var(--grey-1-color);
      border-radius: 0.375rem;
      background: var(--grey-0-color);

      h2 {
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-align: center;
      }
    }

    .ticketRow {
      display: flex;
      gap: 0.5rem;
      justify-content: space-between;

      button {
        background: var(--primary-color);
        border: none;
        padding: 0.5rem 0.8rem;
        border-radius: 0.25rem;
        cursor: pointer;
        margin-bottom: 1rem;
      }
    }

    .addButton {
      background: var(--primary-color);
      font-size: 1rem;
      padding: 0.6rem;
      border: none;
      border-radius: 0.25rem;
      cursor: pointer;
      width: 100%;
      margin-top: 0.8rem;
    }
  }

  .backButton {
    background: var(--primary-color);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
}

.operatingHoursContainer {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 0.0625rem solid var(--grey-1-color);
  border-radius: 0.375rem;
  background: var(--grey-0-color);

  h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .operatingHoursRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 0.8rem;

    .dayLabel {
      font-weight: bold;
    }

    .timeInput {
      width: 100%;
      padding: 0.5rem;
      border: 0.0625rem solid var(--grey-1-color);
      border-radius: 0.25rem;
      font-size: 1rem;
      text-align: center;
    }

    .selectField {
      width: 100px;
      padding: 0.5rem;
      border: 0.0625rem solid var(--grey-1-color);
      border-radius: 0.25rem;
      background: white;
      cursor: pointer;
    }

    .timeInput:disabled {
      background: var(--disabled-color); /* 연한 회색 */
      color: var(--grey-2-color); /* 글자색도 약간 흐리게 */
      cursor: not-allowed;
    }
  }
}
